---
layout: default
title: Projects
permalink: /projects/
---
{% include wrap.html %}
<div class="container section row">
  {% for post in site.categories['projects']%}
  <div class="col s12">
    <ul class="collapsible" data-collapsible="expandable">
      <li class="center">
        <div class="collapsible-header active"><h4>{{ post.title }}</h4></div>
        <div class="collapsible-body section">
          <div>{{ post.excerpt }}</div>
          <div>
            <a href="{{ post.url }}.html">[More Details]</a>&nbsp;
            <a href="http://www.agri-inno.net/owncloud/index.php/s/VL4BU0eyt6MsvwD?path=%2F" target="_blank">[Owncloud]</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>
