---
layout: default
title: Participants
permalink: /participants
---
{% include wrap.html %}
<div class="section row">
  <!-- Search -->
  <div class="input-field col s12">
    <i class="material-icons prefix">search</i>
    <input id="search" type="text" data-list=".participants">
    <label for="search">Search Name</label>
  </div>
  <!-- Card Structure -->
  <div class="participants">
    {% for user in site.data.participants %}
    <div class="col s12 m6 l3">
      <div class="card grey lighten-4">
        <div class="card-content center">
          <img src="/assets/images/2016/participants/{{ user.id }}.png" alt="{{ user.name }}" width="64" height="64" class="circle">
          <p>{{ user.name }}</p>
        </div>
        <div class="card-action center">
          <a class="modal-trigger" href="#{{ user.id }}">Biography</a>
          <a href="mailto:{{ user.mail }}">Contact</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Modal Structure -->
{% for user in site.data.participants %}
<div id="{{ user.id }}" class="modal bottom-sheet">
  <a class="modal-action modal-close btn-floating btn-small right top-right waves-effect waves-light orange darken-1"><i class="material-icons">close</i></a>
  <div class="modal-content grey lighten-1">
    <h4>{{ user.name }}</h4>
    <ul class="collapsible popout justify" data-collapsible="expandable">
      <li>
        <div class="collapsible-header" id="bio">Biography</div>
        <div class="collapsible-body white">
          <p>
            Biography
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header" id="abs">Abstract</div>
        <div class="collapsible-body white">
          <p>
            Abstract
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header" id="pos">Poster</div>
        <div class="collapsible-body white">
          <a href="/assets/images/2016/poster/{{ user.id }}.png" target="_blank"><img data-src="/assets/images/2016/poster/{{ user.id }}.png" alt="{{ user.name }}" class="responsive-img lazy" /></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
{% endfor %}
