---
layout: default
---
{% include wrap.html %}
<div class="container section row">
  {% for gallery in page.galleries %}
  <div class="col s12 m6">
    <a href="{{ gallery['gallery'] }}"><img class="gallery-best-image responsive-img" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}"></a>
    <h6><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a> ( {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %} )</h6>
  </div>
  {% endfor %}
</div>
