---
layout: default
---
<!-- Header -->
<div class="container section row">
  <div class="col s12 center-align">
    <br><img src="/assets/images/heading.png" alt="{{ site.description }}" class="responsive-img" />
  </div>
</div>

<!-- Videos -->
<div class="section row green lighten-1">
  <div class="col s12 center">
    <h6>Watch the Agri-Inno talks &nbsp;&nbsp;&nbsp;<a class="waves-effect waves-orange btn white orange-text" href="/videos.html">Videos</a></h6>
  </div>
</div>

<!-- Poster -->
<img src="/assets/images/agri-inno.png" alt="Agri-Inno" class="responsive-img minus-20" />
<div class="section row">
  <!-- Blog -->
  <div class="col s12 m7 l8 hide-on-small-only">
    <div class="section">
      <h5>Latest Posts</h5>
      {% for post in site.categories['blog'] limit:3 %}
      <div class="card-panel white">
        <span class="black-text">
          <p class="bold">{{ post.title }}</p>
          <div class="justify">
            {{ post.excerpt }}
            <a href="{{ post.url }}.html">Read more</a>
          </div>
        </span>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- News -->
  <div class="col s12 m5 l4">
    <div class="section">
      <h5>News</h5>
      <div class="card-panel white">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<!-- Materials -->
<div class="section row blue-grey darken-1 plus-20">
  <div class="col s12 center white-text">
    <h6>Get the Agri-Inno materials &nbsp;&nbsp;&nbsp;<a class="waves-effect waves-orange btn white orange-text" href="http://www.agri-inno.net/owncloud/index.php/s/VL4BU0eyt6MsvwD?path=%2FDocuments" target="_blank">Download</a></h6>
  </div>
</div>
