---
layout: default
---
<!-- Header -->
<div class="container section row">
  <div class="col s12 center-align">
    {{ content }}
  </div>
</div>

<!-- Videos -->
<div class="grey lighten-1">
  <div class="container section row">
    <div class="col s12 center">
      <h6>Watch the Agri-Inno talks &nbsp;&nbsp;&nbsp;<a class="waves-effect btn black" href="/videos">Watch</a></h6>
    </div>
  </div>
</div>

<!-- Poster -->
<img src="/assets/images/agri-inno.png" alt="Agri-Inno" class="responsive-img" />
<div class="section row">
  <!-- Blog -->
  <div class="col s8">
    <div class="section">
      <h5>Latest Posts</h5>
      {% for post in site.categories['blog'] limit:3 %}
      <div class="card-panel white">
        <span class="black-text">
          <p>{{ post.title }}</p>
          <div class="justify">
            {{ post.excerpt }}
            <a href="{{ post.url }}.html">Read more</a>
          </div>
        </span>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- News -->
  <div class="col s4">
    <div class="section">
      <h5>News</h5>
      <div class="card-panel white">
        {% for post in site.categories['projects'] limit:2 %}
        <p><a href="{{ post.url }}.html">{{ post.title }}.</a></p>
        <div class="justify">{{ post.excerpt }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Materials -->
<div class="grey lighten-1">
  <div class="container section row">
    <div class="col s12 center">
      <h6>Get the Agri-Inno materials &nbsp;&nbsp;&nbsp;<a class="waves-effect btn black" href="#">Download</a></h6>
    </div>
  </div>
</div>
